/* You can add global styles to this file, and also import other style files */
html {
    background-color: black;
}
app-root {
    display: block;
    height: 100%;
    background-color: black;
    justify-content: center;
}