<div class="card justify-content-center bg-dark">
  <div class="card-img-wrapper h-50">
    <img class="card-img-top h-100 w-100" src="{{show.coverImageUrl}}" alt="{{show.title}}">
  </div>
  <div class="card-body p-2">
    <h5 class="card-title">{{show.title}}</h5>
    <div class="description w-100" ellipsis>{{show.description}}</div>
    <div class="releaseDate">{{show.releaseDate | date}}</div>
    <div class="rating-container">
      <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"
        (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
        (click)="onClick()"
        style="color: #0275d8;font-size: 20px;"></rating>
        <label>{{rate | number:'1.1-1'}}</label>
    </div>
    
  </div>
</div>