
<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <tabset class="showTypePicker">
            <tab heading="Movies" (selectTab)="onClick('movie')"></tab>
            <tab heading="Shows" (selectTab)="onClick('show')"></tab>
        </tabset>
        <form class="input-group w-75">
            <input
              type="search"
              class="form-control"
              placeholder="Search"
              aria-label="Search"
              name="searchParameters"
              [(ngModel)]="searchParameters"
              (ngModelChange)="search()"
            />
          </form>
    </div>
    
</nav>
<div *ngIf="shows" class="container-fluid mt-2">
    <div class="row">
        <div class="d-flex justify-content-center col-sm-4 text-light p-0 mt-5 mb-5" *ngFor="let show of shows">
            <app-show-card [show]="show" (showRated)="rateShow($event)"></app-show-card>
        </div>
    </div>
    <div *ngIf="pagination?.totalPages > pagination?.currentPage">
        <a class="text-light" (click)="viewMore()" style="cursor: pointer;">View more results</a>
    </div>
</div>